<div
  class="task"
  [ngClass]="{
    crossedOut: task.completed === true,
    warning: task.completed === false && isWarning,
    error: task.completed === false && isError
  }"
  (click)="onSelect(task)"
>
  <mat-checkbox class="checkbox" [(ngModel)]="task.completed"></mat-checkbox>
  <!-- [(ngModel)]="task.completed" -->
  <span class="title">{{ task.title }}</span>
  <button mat-icon-button aria-label="Удалить" matTooltip="Удалить задачу" (click)="deleteHandler(task.id)">
    <mat-icon>delete</mat-icon>
  </button>
  <span class="date">{{ task.date | date: "d LLLL":null:"ru" }}</span>
  <span class="date">{{ task.completed }}</span>
</div>
